body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #2bcbba;
}
header img {
  width: 80px;
}
nav a{
  color: black;
  margin: 0 10px;
  text-decoration: none;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.banner_text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
}
.btn {
  background: orange;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border-radius: 25px;
}
.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.cat {
  border: 1px solid purple;
  padding: 20px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.product {
  border: 1px solid #ccc;
  width: 200px;
  padding: 10px;
  text-align: center;
}